<wm-page data-ng-controller="TripsPageController" name="page1"> 
    <wm-mobile-navbar name="mobile_navbar1" backbutton="true" title="Trip"></wm-mobile-navbar> 
    <wm-content name="content1" backgroundcolor="#fff"> 
        <wm-page-content columnwidth="12" name="page_content1" backgroundcolor="#eee"> 
            <wm-tabs name="tabs1" transition="slide" tabsposition="top" width="100%" backgroundcolor="#eee"> 
                <wm-tabpane name="tabpane1" heading="DETAILS" isdefaulttab="true"> 
                    <wm-layoutgrid name="layoutgrid1" class="detail-grid"> 
                        <wm-gridrow name="gridrow18_1" bordercolor="#ccc" borderstyle="solid" class="box-style" height="40%" borderwidth="0px 0px 1px 0px"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn2" horizontalalign="center" padding="2em unset unset unset"> 
                                <wm-label name="label48" caption="bind:parseDate" width="100%" fontsize="1.4" fontunit="em" color="#777" display="block" margin="unset unset 0px unset"></wm-label> 
                                <wm-label caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.StartTime | toDate: 'MMMM,yyyy'" name="label49" width="100%" fontsize="0.9" fontunit="em" color="#333"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="8" name="gridcolumn30" padding="1.5em unset unset .5em"> 
                                <wm-container name="container2_1" bordercolor="#ccc" borderstyle="dashed" width="100%" display="block" borderwidth="0px 0px 0px 1px" margin="0em unset unset unset" padding="0em unset 0em 1em"> 
                                    <wm-icon name="icon3_1" iconclass="wi wi-circle" iconsize="10pt" class="text-danger" color="orange"></wm-icon> 
                                    <wm-icon name="icon4_1" iconsize="10pt" iconclass="wi wi-radio-button-unchecked" class="text-success" color="green"></wm-icon> 
                                    <wm-label name="label39" class="text-success custom-ellipsis" width="100%" display="block" caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.StartAddress.Address1+&quot;,&quot;" margin="unset unset 0px unset"></wm-label> 
                                    <wm-label name="label39_1" caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.StartAddress.City" class="text-success custom-ellipsis" display="block"></wm-label> 
                                    <wm-icon iconclass="wi wi-access-time" color="#BDC2D4" name="icon4" iconsize="10pt"></wm-icon> 
                                    <wm-label name="label42_1" fontsize="10" fontunit="pt" marginunit="em" caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.StartTime | toDate: 'hh:mm a'"></wm-label> 
                                    <wm-label name="label40" class="text-warning custom-ellipsis" width="100%" display="block" caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.EndAddress.Address1+&quot;,&quot;" margin="1em unset 0em unset"></wm-label> 
                                    <wm-label name="label40_2" caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.EndAddress.City" class="text-warning custom-ellipsis" margin="unset unset 0px unset"></wm-label> 
                                </wm-container> 
                                <wm-container name="container3" margin="unset unset 2px unset" padding="0em unset 1em 1em"> 
                                    <wm-icon name="icon3" iconclass="wi wi-access-time" color="#BDC2D4" iconsize="10pt" class="text"></wm-icon> 
                                    <wm-label name="label41_1" fontsize="10" fontunit="pt" caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.EndTime | toDate: 'hh:mm a'"></wm-label> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow18_2" horizontalalign="center" height="30%"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn29_1" bordercolor="#eee" borderstyle="solid" borderwidth="5px" horizontalalign="center" padding="1.2em unset unset unset"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_avg. speed.png" width="40pt" name="picture10_1" textalign="center"></wm-picture> 
                                <wm-label caption="Speed" name="label9" class="custom-ellipsis control-label col-xs-6" width="100%" fontunit="px" margin="0px unset unset unset"></wm-label> 
                                <wm-label caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.MaxSpeed | toNumber: '1'" name="label10" class="form-control-static col-xs-6" width="50%" color="#000000" textalign="right" padding="unset .4em unset unset" horizontalalign="right"></wm-label> 
                                <wm-label caption="kmph" class="form-control-static col-xs-6 text-muted" width="50%" name="label40_1" textalign="left" padding="unset unset unset 0px"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn30_1" bordercolor="#eee" borderstyle="solid" borderwidth="5px 5px 5px unset" horizontalalign="center" padding="1.2em unset unset unset"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_time travel.png" width="40pt" name="picture12"></wm-picture> 
                                <wm-label caption="Time Taken" name="label13" class="control-label col-xs-6" width="100%" fontunit="px" margin="0px unset unset unset"></wm-label> 
                                <wm-label caption="bind:time" name="label14" class="form-control-static col-xs-6" width="100%" color="#000000"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow19_1" horizontalalign="center" height="28%"> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn31" bordercolor="#eee" borderstyle="solid" borderwidth="unset 5px 5px 5px" horizontalalign="center" padding="1.2em unset unset unset"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_distance traveled.png" width="40pt" name="picture14_1"></wm-picture> 
                                <wm-label caption="Distance" name="label11" class="control-label col-xs-6" width="100%" margin="0px unset unset unset"></wm-label> 
                                <wm-label caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.Distance | toNumber: '1'" name="label12" class="form-control-static col-xs-6" width="50%" color="#000000" textalign="right" padding="unset 0.4em unset unset" horizontalalign="right"></wm-label> 
                                <wm-label caption="km" class="form-control-static  text-muted col-xs-6" width="50%" textalign="left" name="label41_2" padding="unset unset unset 0px"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn32" bordercolor="#eee" borderstyle="solid" borderwidth="unset 5px 5px unset" horizontalalign="center" padding="1.2em unset unset unset"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_start fuel level.png" width="40pt" name="picture11_1"></wm-picture> 
                                <wm-label caption="Fuel" name="label15" class="control-label  col-xs-6" width="100%" margin="0px unset unset unset"></wm-label> 
                                <wm-label caption="bind:Variables.MojSelectedTripIdInvoke.dataSet.FuelEfficiency | toNumber: '1'" name="label16" class="form-control-static col-xs-6" width="50%" color="#000000" textalign="right" padding="unset 0.4em unset unset" horizontalalign="right"></wm-label> 
                                <wm-label caption="gallons" class="form-control-static text-muted col-xs-6" width="50%" textalign="left" name="label42" padding="unset unset unset 0px"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-tabpane> 
                <wm-tabpane name="tabpane2" heading="ROUTE" bordercolor="#ffffff" paddingunit="em"> 
                    <wm-container name="container2"> 
                        <wm-prefab prefabname="googlemaps" name="googlemaps3" locations="bind:Variables.MojSelectedTripIdInvoke.dataSet" origin="bind:Variables.MojSelectedTripIdInvoke.dataSet.StartLocation.Lat+&quot;,&quot;+Variables.MojSelectedTripIdInvoke.dataSet.StartLocation.Lng" destination="bind:Variables.MojSelectedTripIdInvoke.dataSet.EndLocation.Lat+&quot;,&quot;+Variables.MojSelectedTripIdInvoke.dataSet.EndLocation.Lng" height="520px" waypoints="bind:Variables.WayPoints.dataSet" stopover="false"></wm-prefab> 
                    </wm-container> 
                </wm-tabpane> 
                <wm-tabpane name="tabpane3" heading="SPEED" backgroundcolor="#F4F4F4"> 
                    <wm-layoutgrid name="layoutgrid2" paddingunit="em"> 
                        <wm-gridrow name="gridrow4"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10"> 
                                <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel2" title="Speed" marginunit="em"> 
                                    <wm-chart type="Line" name="chart2" dataset="bind:Variables.MojInvoke.dataSet.Data" theme="Terrestrial" paddingunit="em" showxaxis="false" showyaxis="true" offsetleft="30" tooltips="true" showlegend="true" highlightpoints="false" yaxislabeldistance="0" show="true" legendposition="Top" legendtype="furious" captions="false" marginunit="px" xunits="50" height="260px" xaxisdatakey="Time" yaxisdatakey="Speed" customcolors="bind:Variables.Color.dataSet"></wm-chart> 
                                </wm-panel> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow23" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn48" horizontalalign="center" class="col-xs-2"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_min. speed.png" width="40pt" height="50pt" name="picture8"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn28" class="col-xs-6"> 
                                <wm-label caption="Min Speed" name="label49_1" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Lowest of this event" class="control-label" color="#f90000" name="label39_2" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn49" padding="1em unset unset unset" class="col-xs-4"> 
                                <wm-label caption="bind:minSpeed+&quot; Kmph&quot;" name="label50_1" class="form-control-static" color="#000000" fontweight="bold"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow24" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn29" horizontalalign="center"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_max. speed.png" width="40pt" height="50pt" name="picture9"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn51"> 
                                <wm-label caption="Max Speed" name="label51" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Highest of this event" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" name="label39_3" width="100%"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn52" padding="1em unset unset unset"> 
                                <wm-label caption="bind:maxSpeed +&quot; Kmph&quot;" name="label52" class="form-control-static" color="#000000" fontweight="bold"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow25" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn30_2" horizontalalign="center"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_avg. speed.png" width="40pt" height="50pt" name="picture10"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn53"> 
                                <wm-label caption="Average Speed" name="label53" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Average of this event" class="control-label" color="#f90000" margin="-3px unset unset unset" fontstyle="italic" fontsize="10" name="label40_3" width="100%"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn54" padding="1em unset unset unset"> 
                                <wm-label caption="bind:(averageSpeed | toNumber: '1')+&quot; Kmph&quot;" name="label54" class="form-control-static" fontweight="bold" color="#000000"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-tabpane> 
                <wm-tabpane name="tabpane5" heading="FUEL LEVEL" backgroundcolor="#F4F4F4"> 
                    <wm-layoutgrid name="layoutgrid2"> 
                        <wm-gridrow name="gridrow4"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10"> 
                                <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel2" title="Fuel Level" fontweight="bold" marginunit="em"> 
                                    <wm-chart type="Area" name="chart2" dataset="bind:Variables.MojInvoke.dataSet.Data" theme="Orient" paddingunit="em" xaxisdatakey="Odometer" yaxisdatakey="FuelLevel" showxaxis="false" showyaxis="true" offsetleft="30" tooltips="true" showlegend="true" highlightpoints="false" yaxislabeldistance="0" show="true" legendposition="Top" legendtype="furious" captions="false" marginunit="px" xunits="50" height="260px" customcolors="bind:Variables.Color.dataSet"></wm-chart> 
                                </wm-panel> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow27" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn31_1"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_start fuel level.png" width="40pt" height="50pt" name="picture14"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn59"> 
                                <wm-label caption="Starting Level" name="label41" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Indictor reading at trip start" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%" name="label41_3"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn60" padding="1em unset unset unset"> 
                                <wm-label caption="bind:startingFuelLevel" name="label50_1" class="form-control-static" fontweight="bold" color="#000000"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow28_1" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn32_1"> 
                                <wm-picture picturesource="resources/images/imagelists/icons-end fuel level.png" width="40pt" height="50pt" name="picture13"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn61"> 
                                <wm-label caption="Ending Level" name="label51" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Indictor reading at trip end" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%" name="label42_2"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn62" padding="1em unset unset unset"> 
                                <wm-label caption="bind:endingFuelLevel" name="label52" class="form-control-static" fontweight="bold" color="#000000"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <!--<wm-gridrow name="gridrow29" paddingleft=".5" paddingunit="em">--> 
                        <!--    <wm-gridcolumn columnwidth="7" name="gridcolumn63">--> 
                        <!--        <wm-picture picturesource="resources/images/imagelists/icons_distance traveled.png" width="40pt" height="50pt" name="picture12"></wm-picture>--> 
                        <!--        <wm-label caption="Distance" name="label53" class="control-label" color="#000000"></wm-label>--> 
                        <!--    </wm-gridcolumn>--> 
                        <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn64" paddingtop="1" paddingunit="em">--> 
                        <!--        <wm-label caption="bind:(distance | toNumber: '3' )+&quot; KM&quot;" name="label54" class="form-control-static" fontweight="bold" color="#000000"></wm-label>--> 
                        <!--    </wm-gridcolumn>--> 
                        <!--</wm-gridrow>--> 
                        <wm-gridrow name="gridrow30" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn33"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_time travel.png" width="40pt" height="50pt" name="picture11"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn65"> 
                                <wm-label caption="Time Taken" name="label53" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Total time taken for trip" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%" name="label43"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn66" padding="1em unset unset unset"> 
                                <wm-label caption="bind:time" name="label54" class="form-control-static" fontweight="bold" color="#000000"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-tabpane> 
                <wm-tabpane name="tabpane5" heading="RPM" backgroundcolor="#F4F4F4"> 
                    <wm-layoutgrid name="layoutgrid2" paddingunit="em"> 
                        <wm-gridrow name="gridrow4"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10"> 
                                <wm-panel class="panel-default" collapsible="false" showheader="true" name="panel2" title="RPM" fontweight="bold" marginunit="em"> 
                                    <wm-chart type="Line" name="chart2" dataset="bind:Variables.MojInvoke.dataSet.Data" theme="Orient" paddingunit="em" xaxisdatakey="Time" yaxisdatakey="RPM" showxaxis="false" showyaxis="true" offsetleft="30" tooltips="true" showlegend="true" highlightpoints="false" yaxislabeldistance="0" show="true" legendposition="Top" legendtype="furious" captions="false" marginunit="px" xunits="50" height="260px" customcolors="bind:Variables.Color.dataSet"></wm-chart> 
                                </wm-panel> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow23" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn34"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_min. speed.png" width="40pt" height="50pt" name="picture8"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn48"> 
                                <wm-label caption="Min RPM" name="label49_1" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Lowest of this event" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%" name="label44"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn49" padding="1em unset unset unset"> 
                                <wm-label caption="bind:minRPM" name="label50_1" class="form-control-static" color="#000000" fontweight="bold"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow24" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn35"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_max. speed.png" width="40pt" height="50pt" name="picture9"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn51"> 
                                <wm-label caption="Max RPM" name="label51" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Highest of this event" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%" name="label45"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn52" padding="1em unset unset unset"> 
                                <wm-label caption="bind:maxRPM" name="label52" class="form-control-static" color="#000000" fontweight="bold"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow25" padding="unset unset unset .5em"> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn36"> 
                                <wm-picture picturesource="resources/images/imagelists/icons_avg. speed.png" width="40pt" height="50pt" name="picture10"></wm-picture> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="6" name="gridcolumn53"> 
                                <wm-label caption="Average RPM" name="label53" class="control-label p block-label" color="#000000" fontweight="bold"></wm-label> 
                                <wm-label caption="Average of this event" class="control-label" color="#f90000" margin="0px unset unset unset" fontstyle="italic" fontsize="10" width="100%" name="label46"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn54" padding="1em unset unset unset"> 
                                <wm-label caption="bind:(averageRPM | toNumber: '1')" name="label54" class="form-control-static" fontweight="bold" color="#000000"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-tabpane> 
            </wm-tabs> 
            <wm-spinner show="false" name="spinner2" type="icon"></wm-spinner> 
        </wm-page-content> 
    </wm-content> 
</wm-page>