/*****ICONS_END*****/
.nvtooltip {
    position: absolute !important;
    top : -100px !important;
}
/****icons from and to*****/
.wi.text-success, .wi.text-danger {
    position: absolute !important;
    left: -3%;
    background-color: #fff;
}
.wi.text-success {
    top: 0%;
}
.wi.text-danger {
    top: 90%;
}
/***Box style****/
.box-style {
    box-shadow: 0px -4px 16px #000;
}
.app-tabs {
    height: 100% !important;
}

.app-tabs[name="tabs1"] > .nav-tabs {
    position: fixed;
    width: inherit;
}

.canvas-content .app-tabs[name="tabs1"] > .nav-tabs {
    position: relative;
}
.app-tabs[name="tabs1"] >.tab-content {
    top: 48px;
}
.app-tabs[name="tabs1"] >.tab-content, .app-tabs[name="tabs1"] >.tab-content > .tab-pane {
    overflow-y: auto !important;
}
@media only screen and (max-device-width: 768px) and (min-device-width: 320px) {
    .wm-app .app-datagrid .table-container, .wm-app .app-grid-layout {
        height: 100% !important;
    }
}
.wm-app label.control-label.block-label {
    display: block;
}