<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="left-panel"> 
    <wm-nav layout="stacked" name="nav1" show="true" horizontalalign="left" height="100%"> 
        <wm-container name="container1"> 
            <wm-picture name="picture1" width="100%" picturesource="resources/images/imagelists/my-profile-header.jpg"></wm-picture> 
            <wm-label caption="bind:User" fontsize="1.3" color="#ffffff" fontunit="em" name="label3" class="custom-name" margin="unset unset .2em unset"></wm-label> 
        </wm-container> 
        <wm-container name="container1" bordercolor="#ccc" borderstyle="solid" borderwidth="0px 0px 1px 0px" padding=".5em"> 
            <wm-label name="label2" caption="OVERVIEW" height="100%" fontsize="2em"></wm-label> 
        </wm-container> 
        <wm-nav-item name="nav_item2" horizontalalign="left"> 
            <wm-anchor caption="MY TRIPS" iconclass="wi wi-place" name="anchor1" on-click="goToPage-Main" color="#333" show="true" width="100%" on-tap="Variables.goToPage_TripsNames.invoke()" badgevalue="bind:tripsCount || '0'" textalign="left" paddingunit="em"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item3" horizontalalign="left"> 
            <wm-anchor caption="MY VEHICLES" iconclass="wi wi-directions-car fa-2x" name="anchor1" on-click="goToPage-Main" color="#070707" show="true" width="100%" on-tap="Variables.goToPage_Vehicles.invoke()" badgevalue="bind:vehiclesCount || '0'" textalign="left" paddingunit="em"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item4" horizontalalign="left" class="logout-btn"> 
            <wm-anchor caption="LOGOUT" iconclass="wi wi-person fa-2x" name="anchor1" on-click="goToPage-Main" color="#0c0b0b" show="true" width="100%" on-tap="anchor1Tap($event, $scope)" textalign="left"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>