<wm-page data-ng-controller="MainPageController" name="page1"> 
    <wm-content name="content1" backgroundcolor="#fffff" height="100%"> 
        <wm-page-content columnwidth="12" name="page_content1" backgroundrepeat="no-repeat" backgroundattachment="scroll" backgroundimage="resources/images/imagelists/screen.png" backgroundsize="100% 100%" horizontalalign="right"> 
            <wm-anchor name="anchorSkip" textalign="right" caption="SKIP" color="#4c3326" fontsize="16" zindex="3000" on-tap="anchorSkipTap($event, $scope)" show="false" class="pull-right anchorSkip" margin="3em 2em unset unset"></wm-anchor> 
            <wm-layoutgrid name="layoutgrid3" padding="50% unset unset unset"> 
                <wm-gridrow name="gridrow9" horizontalalign="center"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn26" horizontalalign="center"> 
                        <wm-button name="buttonLogin" caption="Login With Mojio" type="button" on-tap="buttonLoginTap($event, $scope)" backgroundcolor="#F5743B" show="bind:!(loginStatus)" color="#fff" iconposition="left" width="190px"></wm-button> 
                        <wm-anchor name="anchorUser" iconclass="wi wi-long-arrow-right" caption="bind:&quot;Hi, &quot;+User" show="bind:loginStatus" fontsize="25" color="#0a0501" iconposition="right" on-tap="Variables.goToPage_TripsNames.invoke()" iconmargin="2 0" margin=".5em unset unset unset"></wm-anchor> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn5" horizontalalign="center"> 
                        <wm-button caption="Demo Login" type="button" on-tap="buttonDemoLoginTap($event, $scope)" backgroundcolor="#F5743B" show="bind:!(loginStatus)" color="#fff" iconposition="left" name="buttonDemoLogin" width="190px"></wm-button> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
            <wm-carousel height="100%" type="dynamic" name="carousel2" dataset="bind:Variables.Carousal.dataSet" width="100%" show="false" animationinterval="100"> 
                <wm-carousel-template horizontalalign="center" name="carousel_template1" opacity="1" show="true"> 
                    <wm-layoutgrid name="layoutgrid4" height="100%" width="100%" backgroundcolor="{{item.color}}" class="carousel-grid" padding="110px unset unset unset"> 
                        <wm-gridrow name="gridrow10"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn14_1" padding="unset unset 50px unset"> 
                                <wm-label name="label1" caption="bind:Variables.Carousal.dataSet[$i].heading" fontsize="30" fontunit="px" fontfamily="Roboto-Regular" color="#0c0101"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow10"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn13_1"> 
                                <wm-picture name="picture1" picturesource="bind:Variables.Carousal.dataSet[$i].image" width="100%" height="auto" backgroundsize="cover"></wm-picture> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow10"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn15" padding="30px unset 80px unset"> 
                                <wm-label name="label1" caption="bind:Variables.Carousal.dataSet[$i].content" fontsize="14" fontfamily="Roboto-Regular" fontweight="bold" width="80%" color="#0c0101" show="true"></wm-label> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-carousel-template> 
            </wm-carousel> 
        </wm-page-content> 
    </wm-content> 
</wm-page>