.wm-app .list-group .list-group-item {
    padding: 0;
}
.wm-app .app-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background-color:#66CDCC;
    
}
.carousel-inner .item > div, .carousel {
    height: 100%;
}
.carousel-inner .item > .text-center > .ng-scope {
    height: 100%;
}
.wm-app .carousel-indicators .active {
    width: 10px;
    height: 10px;
}
.wm-app .carousel-indicators li {
    margin: 3px !important;
    border-color: #fff!important;
}
.wm-app .app-carousel .carousel-grid {
    height: 100% !important;
}
.wm-app .wi.wi-long-arrow-right {
    margin-top: .2em;
    margin-left: .2em;
}

.left.carousel-control{
    visibility: hidden;
}
.right.carousel-control{
    visibility: hidden;
}
.anchorSkip{
        z-index: 300;
}