<wm-page data-ng-controller="LoginPageController" name="page1"> 
    <wm-mobile-navbar title="Login" name="mobile_navbar1"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-button class="btn-default" caption="Login to Mojio" type="button" name="button2" on-tap="button2Tap($event, $scope)"></wm-button> 
        </wm-page-content> 
    </wm-content> 
</wm-page>