.wm-app .wi {
    font-size: 18pt;
}
/*******************************For decreasing shadow for panel************************/

.wm-app .panel {
    box-shadow: 1px 1px 7px #bbb;
}
/*Styles for leftpanel*/

.wm-app .app-left-panel.slide-over.visible {
    box-shadow: 5em 0 0em rgba(0, 0, 0, 0.7);
    transition: right .3s ease-in;
}
.wm-app .app-mobile-navbar li a:before,
.wm-app .app-mobile-navbar li .btn:before {
    background-color: transparent;
}
/*tabs*/

.wm-app .nav-tabs > li > a,
.wm-app .nav-tabs > li > a:hover,
.wm-app .nav-tabs > li > a:focus {
    width: 100px;
    text-align: center;
}
* {
    outline-color: transparent !important;
}