<wm-page data-ng-controller="VehiclesPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" backbutton="false" title="Vehicles"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" backgroundcolor="#eeeeee"> 
            <wm-container class="styleSelect" name="conatiner12334"> 
                <wm-select name="select1" dataset="bind:Variables.UserVehicles.dataSet" datafield="_id" displayfield="Name" datavalue="bind:Variables.UserVehicles.dataSet[0]._id" show="bind:!(vehiclesCount==0)" height="3em" width="97%" margin="unset 5pt" backgroundcolor="#e4e0e0"></wm-select> 
            </wm-container> 
            <wm-panel name="panel1" title="Info" show="bind:!(vehiclesCount==0)" margin=".4em .4em unset .4em"> 
                <wm-layoutgrid name="layoutgrid2"> 
                    <wm-gridrow name="gridrow5"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn14_1"> 
                            <wm-label width="100%" caption="LicensePlate" class="control-label" name="label1"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn16_1"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.LicensePlate" name="label2" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow8"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn23"> 
                            <wm-label width="100%" caption="VIN" class="control-label" name="label3"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn24"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.VIN" name="label4" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-panel> 
            <wm-panel name="panel2" title="Unit" class="panel-default" show="false" margin="unset .4em"> 
                <wm-layoutgrid name="layoutgrid3"> 
                    <wm-gridrow name="gridrow6"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn15_1"> 
                            <wm-label width="100%" caption="Last Speed" class="control-label" name="label7"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn17"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.LastSpeed+&quot; Kmph&quot;" name="label6" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow7_1"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn18"> 
                            <wm-label width="100%" caption="Last RPM" class="control-label" name="label9"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn20"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.LastRpm | toNumber: '1'" name="label8" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow8_1"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn21"> 
                            <wm-label width="100%" caption="last fuel eff" class="control-label" name="label19"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn23_1"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.LastFuelEfficiency | toNumber: '1'" name="label20" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow9"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn24_1"> 
                            <wm-label width="100%" caption="fuel level" class="control-label" name="label21"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn25"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.FuelLevel | toNumber: '1'" name="label22" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-panel> 
            <wm-container name="container2" horizontalalign="center" show="bind:vehiclesCount==0" padding="2em unset unset unset"> 
                <wm-picture name="picture1" picturesource="resources/images/imagelists/no-vehicles.png" width="190pt" height="180pt" margin="unset unset 5px unset"></wm-picture> 
                <wm-label caption="No Vehicles" fontsize="19" fontweight="bold" color="#070707" width="100%" name="label21_1"></wm-label> 
                <wm-label caption="Start adding your vehicles" fontsize="16" color="#070707" show="true" width="100%" name="label22_1"></wm-label> 
            </wm-container> 
            <wm-container name="container1" horizontalalign="center" show="false" padding="5em unset unset unset"> 
                <wm-picture name="picture2" width="180pt" height="180pt" picturesource="resources/images/imagelists/no-trip.png"></wm-picture> 
                <wm-label caption="No Trips by this vehicle" fontsize="19" fontweight="bold" color="#070707" width="100%" name="label21_1"></wm-label> 
                <wm-label caption="Start planning a trip" fontsize="16" color="#070707" show="true" width="100%" name="label22_1"></wm-label> 
            </wm-container> 
            <wm-panel name="panel3" title="Last Location" show="false" margin="unset .4px"> 
                <wm-layoutgrid name="layoutgrid4"> 
                    <wm-gridrow name="gridrow9_1"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn18_1"> 
                            <wm-label caption="Car Status" name="label16" class="control-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn19"> 
                            <wm-label caption="Ignition Off" show="bind:!(Variables.MojVehiclesById1Invoke.dataSet.IgnitionOn)" name="label17" class="form-control-static" color="#000000"></wm-label> 
                            <wm-label caption="Ignition On" show="bind:Variables.MojVehiclesById1Invoke.dataSet.IgnitionOn" name="label18" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow10"> 
                        <wm-gridcolumn columnwidth="4" name="gridcolumn21_1"> 
                            <wm-label caption="Last Contact Time" name="label19_1" class="control-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="8" name="gridcolumn22_1"> 
                            <wm-label caption="bind:Variables.MojVehiclesById1Invoke.dataSet.VehicleTime | toDate: 'yyyy-MM-dd, HH:mm:ss'" name="label20_1" class="form-control-static" color="#000000"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow11"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn25_1" height="200pt"> 
                            <wm-prefab prefabname="googlemaps" locations="bind:Variables.MojVehiclesById1Invoke.dataSet" lat="LastLocation.Lat" lng="LastLocation.Lng" zoom="16" name="googlemaps2" height="100%"></wm-prefab> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-panel> 
        </wm-page-content> 
    </wm-content> 
</wm-page>