<wm-page data-ng-controller="TripsNamesPageController" name="page1"> 
    <wm-left-panel content="leftnav" name="left_panel1" backgroundcolor="#ffffff" animation="slide-over"></wm-left-panel> 
    <wm-mobile-navbar name="mobile_navbar1" title="Trips" backbutton="false"></wm-mobile-navbar> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1" backgroundcolor="#ffffff"> 
            <wm-layoutgrid name="layoutgrid2"> 
                <wm-gridrow name="gridrow4"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn4" horizontalalign="center"> 
                        <wm-container name="container5_1" width="100%" class="trips-parent-cal"> 
                            <wm-picture name="picture1" width="100%" picturesource="resources/images/imagelists/img.jpg" height="95pt"></wm-picture> 
                            <wm-layoutgrid name="layoutgrid4" class="Trips-Timing"> 
                                <wm-gridrow name="gridrow7"> 
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn16" horizontalalign="right" paddingunit="em"> 
                                        <wm-label name="label14" caption="bind:toDay | toDate: 'dd'" fontsize="3.5" fontunit="em" color="#333" padding="unset 5px unset unset"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="9" name="gridcolumn17" horizontalalign="left"> 
                                        <wm-label name="label15" width="100%" fontsize="1.7" fontunit="em" caption="bind:toDay| toDate: 'EEEE'" color="#333" margin="unset unset 0px unset" padding="10px unset unset unset"></wm-label> 
                                        <wm-label name="label17" caption="bind:toDay | toDate: 'MMMM'" class="uppercase" color="#333" padding="unset .7em unset unset"></wm-label> 
                                        <wm-label name="label16" caption="bind:toDay | toDate: 'yyyy'" color="#333"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-container> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow5"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn8" horizontalalign="left"> 
                        <wm-livelist listclass="list-group trips" itemclass="list-group-item trips-live" name="Tipslist" dataset="bind:tripsList" show="true" on-tap="TipslistTap($event, $scope);Variables.goToPage_Trips.invoke()" datafield="All Fields" nodatamessage="" enablereorder="false" loadingdatamsg=""> 
                            <wm-listtemplate layout="media" name="listtemplate4"> 
                                <wm-container bordercolor="#eee" borderstyle="solid" borderwidth="0px 0px 0px 1px" name="container2_1" margin="unset unset unset 2em"> 
                                    <wm-layoutgrid name="layoutgrid3" class="trips-layout"> 
                                        <wm-gridrow name="gridrow5_1" padding="unset unset 1em unset"> 
                                            <wm-gridcolumn columnwidth="8" name="gridcolumn5" class="grid-from"> 
                                                <wm-icon iconclass="fa fa-circle" color="orange" class="from-icon" name="icon3"></wm-icon> 
                                                <wm-label name="label7" caption="bind:tripsList[$i].StartAddress.City" fontsize="1.2" fontunit="em" color="#333" fontweight="bold" margin="unset unset -5pt 12pt"></wm-label> 
                                                <wm-label name="label10" caption="bind:tripsList[$i].StartAddress.Address1" fontsize="0.8" fontunit="em" width="100%" padding="unset unset unset 13pt" margin="unset unset 0px unset"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn14" horizontalalign="right" padding="1em unset unset unset"> 
                                                <wm-label name="label4" caption="bind:tripsList[$i].StartTime | toDate: 'MMM dd,yyyy'" fontsize="1" fontunit="em" margin="unset .5em 0em unset"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="8" class="grid-to" name="gridcolumn7" paddingunit="em"> 
                                                <wm-icon iconclass="fa fa-circle" color="skyblue" class="to-icon" name="icon3_1"></wm-icon> 
                                                <wm-label caption="bind:tripsList[$i].EndAddress.City" fontsize="1.2" fontunit="em" color="#333" fontweight="bold" name="label3" margin="unset unset -5pt 12pt"></wm-label> 
                                                <wm-label name="label11" caption="bind:tripsList[$i].EndAddress.Address1" fontsize="0.8" fontunit="em" width="100%" padding="unset unset unset 13pt"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-listtemplate> 
                        </wm-livelist> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="12" name="DONOTDELETE" horizontalalign="center" paddingunit="em"> 
                        <wm-container name="containerNoTrips" show="false"> 
                            <wm-picture name="picture2" picturesource="resources/images/imagelists/no-trip.png" width="180pt" height="240pt" show="true" padding="5em unset unset unset"></wm-picture> 
                            <wm-label name="label4_1" caption="No Trips" fontsize="19" fontweight="bold" color="#070707" show="true" width="100%" margin="2% unset unset unset"></wm-label> 
                            <wm-label caption="Start planning a trip" fontsize="16" color="#070707" show="true" width="100%" name="label6" margin="2% unset unset unset"></wm-label> 
                        </wm-container> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
            <wm-spinner show="false" name="spinner1"></wm-spinner> 
        </wm-page-content> 
    </wm-content> 
</wm-page>