.from-icon, .to-icon {
    position: absolute;
    top: 20%;
    left: -.5em;
}
.grid-from, .grid-to {
    position: relative;
}
.trips-parent-cal {
    position: relative;
}

.wm-app .list-group .list-group-item.trips-live:first-child .trips-layout .app-grid-row {
    padding-top: 4em !important;
}
 .wm-app .panel {
box-shadow: 1px 1px 1px #FFF;
}

/*****Daymonthdate******/
.Trips-Timing {
    position: absolute !important;
    top: 10%;
}